* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFDD0;
}

header nav ul {
    margin-top: 25px;
    margin-left: 45vh;
}

.container {
    display: flex;

}

/*controle das referencias*/
a {
    text-decoration: none;
    color: #9ca1ff;
}

a:hover {
    color: #8188ff;
    font-size: 41px;
}

a:active {
    color: #D0D2FF;
}

.referencias-1 {
    display: inline;
    font-size: 40px;
    font-weight: bold;
    font-family: Monospace;
    margin-right: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100%;
    padding-bottom: 20px;
}

.referencias-2 {
    display: inline;
    font-size: 40px;
    font-weight: bold;
    font-family: Monospace;
    margin-right: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100%;
    padding-bottom: 20px;
}

.referencias-3 {
    display: inline;
    font-size: 40px;
    font-weight: bold;
    font-family: Monospace;
    margin-right: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100%;
    padding-bottom: 20px;
}

/*final do controle das referencias e inicio do controle da header do blog*/
header h1 {
    font-family: Monospace;
    font-weight: bold;
    font-size: 60px;
    margin-left: 30px;
    margin-top: 10px;
    color: #9ca1ff;
}

/*Primeira imagem*/

.firstIMG {
    margin-top: 60px;
    margin-left: 30px;
}

#img-1 {
    width: 30%;
    border-width: 100px;
    border: 5px solid #9ca1ff;
}

.txt-1 {
    margin-top: 5px;
    color: #9ca1ff;
}